{% load staticfiles %}

<head>
	<meta charset="UTF-8">
	<title>Редактирование БС</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
    {% block content %}
	<meta charset="utf-8">
        <h1>Изменение данных Базовой Станции</h1>
        <form method="POST" class="post-form" autocomplete="off">{% csrf_token %}
            <div>
                {{ form.ECP.label_tag }}
                {{ form.ECP }}
            </div>
            <div>
                {{ form.UCN.label_tag }}
                {{ form.UCN }}
            </div>
            <div>
                {{ form.adress.label_tag }}
                {{ form.adress }}
            </div>
            <div>
                {{ form.dn.label_tag }}
                {{ form.dn }}
            </div>
            <div>
                {{ form.contra.label_tag }}
                {{ form.contra }}
                <a class="btn btn-default" href="{% url 'contra_new' %}"><span class="glyphicon glyphicon-plus"></span></a>
            </div>
            <button type="submit" class="save btn btn-default">Сохранить</button>
        </form>

    {% endblock %}

	

